<!DOCTYPE html>
<html>
<head>

<style media="screen" type="text/css">

.header {
  background-color: #65CED6;
  height: 300px;
  width: 1150px;
  display: block;
  position: relative;
  margin-left: 10px;
}

h1 {text-align: center;
    vertical-align: middle;
    }

#EscrituraCreativa { 
  color: #EB4934;
  font-weight: bold;}

#ArmandoTuNovela { 
 color: #95459A;
 font-weight: bold;}

#EscrituraParaBlogs { 
  color: #FAD813;
  font-weight: bold;}

#Redaccion { 
  color: #B9D635;
  font-weight: bold;}

#Bootcamp { 
  color: #63C2E0;
  font-weight: bold;} 


.container { margin-top: 20px;}

.paypal { margin-top: 60px;}

</style>
</head>


<body>

<div id="header"></div>
<div class="row">
    <div class="header">
        <h1><img src="http://i69.photobucket.com/albums/i68/2372911/Banner-Cursos_zpsa7a8dab2.png"></h1>
    </div>
</div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-4"><h3 id='EscrituraCreativa'> Escritura creativa </h3><p>Si tu sueño es ser escritor o quieres escribir cretinamente, el curso de Escritura Creativa está diseñado para ti. Podrás ejercitar el genio escritor que llevas dentro con más de 50 ejercicios de escritura creativa. <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top"><input type="hidden" name="cmd" value="_s-xclick"><input type="hidden" name="hosted_button_id" value="CVJLXN2JCZMUW"><input type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_paynow_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!"><img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1"></form>
        <a href="/courses/1"> Ingresa al curso</a></p></div>   

        <div class="col-md-4"><h3 id='ArmandoTuNovela'>Armando tu novela </h3><p>¿Ya tienes una idea para una gran novela, pero no sabes cómo comenzar a armarla? Con este curso te llevamos paso a paso por las bases de toda obra de ficción. Te acompañaremos en la aventura de convertirte en escritor. <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="D9P4UXJHGAYJW">
        <input type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_paynow_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1"></form>
        <a href="/courses/2"> Ingresa al curso</a></p></div>

        <div class="col-md-4"><h3 id='EscrituraParaBlogs'> Escritura para blogs </h3><p>Los blogs son la manera de escribir lo que queramos en el siglo XXI. Con ellos podemos dar a conocer un tema, podemos expresarnos y llevar un diario o podemos promocionar productos de nuestra empresa. Todo a través de una comunicación personal con los lectores. En este curso te damos las bases para la mejor escritura para blogs.  
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top"><input type="hidden" name="cmd" value="_s-xclick"><input type="hidden" name="hosted_button_id" value="H67STKZKHSU5S"><input type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_paynow_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!"><img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1"></form>
        <a href="/courses/3"> Ingresa al curso</a></p></div>
        <div class="clearfix visible-md-block"></div>

        <div class="col-md-6"><h3 id='Redaccion'> Redacción </h3><p>Redactar bien parece una gran hazaña para muchos, pero todos podemos llegar a comunicarnos por escrito de la manera más eficiente. El curso de Redacción te ayuda a mejorar tu redacción, a estructurar mejor tus oraciones y a comunicar todas las ideas que no sabes cómo comunicar. <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top"><input type="hidden" name="cmd" value="_s-xclick"><input type="hidden" name="hosted_button_id" value="YQ4D9CG97KRBU"><input type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_paynow_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!"><img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1"></form> 
        <a href="/courses/4"> Ingresa al curso</a></p></div>

        <div class="col-md-6"><h3 id='Bootcamp'> Bootcamp </h3><p>El Bootcamp: 30 días de escritura te ayuda a convertirte en un mejor escritor en 30 días. Con ejercicios para cada día, este curso te dará ideas para historias, cómo presentar a tus personajes y a encontrar las mejores maneras para expresarte por escrito.
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top"><input type="hidden" name="cmd" value="_s-xclick"><input type="hidden" name="hosted_button_id" value="P6RGDK2UBC86Q"><input type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_paynow_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!"><img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1"></form>
        <a href="/courses/5"> Ingresa al curso</a></p></div>
    </div>
</div>






