
<!-- @exercises.something because I don't need each of them
I want the first exercise title and link to show on a courses page -->
    
<h2>
  <%= link_to "Comienza los ejercicios", course_exercise_path(@course, @exercise) %>
</h2>
      

      
    
