<p>¡Hola <%= @resource.email %>!</p>

<p>Has solicitado cambiar la contraseña. Puedes hacerlo haciendo clic en el enlace de abajo.</p>

<p><%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, :reset_password_token => @token) %></p>

<p>Si tú no solicitaste esto, ignora esta notificación. If you didn't request this, please ignore this email.</p>
<p>Tu contraseña no se cambiará hasta que acceses el enlace de arriba y crees una nueva.</p>
