
<!-- say waht '@exercise' is -->
<% @exercise = Exercise.find(params[:id]) %>

<h1><%= @exercise.title %></h1>
 
 <%= link_to "Editar", edit_exercise_path(@exercise), class: 'btn btn-success' %>
 
<p><%= @exercise.body %></p>